.places h1{
  font-size: 30px;
}

.places article{
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: solid 1px #FF5A5F;
float: left;
}
.places article h2{
  font-size: 30px;
  text-align: center;
}
